@charset "utf-8";
.memberCenter a {
	COLOR: #376aa8; TEXT-DECORATION: none
}
.memberCenter a:visited {
	COLOR: #004098; TEXT-DECORATION: none
}
.memberCenter a:hover {
	COLOR: #ea5504; TEXT-DECORATION: underline
}
.memberCenter a:active {
	COLOR: #ea5504
}
.memberCenter .top {
	TEXT-ALIGN: left; BORDER-LEFT: #B6B6B6 1px solid; LINE-HEIGHT: 28px; PADDING-LEFT: 10px; HEIGHT: 28px; COLOR: black; FONT-SIZE: 14px; BORDER-TOP: #B6B6B6 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #B6B6B6 1px solid
}
.memberCenter .top h2 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.helpleft {
	BORDER-BOTTOM: #B6B6B6 1px solid; BORDER-LEFT: #B6B6B6 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 218px; PADDING-RIGHT: 0px; BORDER-TOP: #B6B6B6 1px solid; BORDER-RIGHT: #B6B6B6 1px solid; PADDING-TOP: 0px;float:left;
}
.helpright {
	BORDER-BOTTOM: #B6B6B6 1px solid; BORDER-LEFT: #B6B6B6 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 218px; PADDING-RIGHT: 0px; BORDER-TOP: #B6B6B6 1px solid; BORDER-RIGHT: #B6B6B6 1px solid; PADDING-TOP: 0px;float:left;
}
.sidebar {
	TEXT-ALIGN: left; LINE-HEIGHT: 25px; MARGIN-TOP: 1px; PADDING-LEFT: 10px; BACKGROUND: #EFF9FE repeat-x; HEIGHT: 25px; COLOR: #404040
}
.helpBd {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; HEIGHT: 1%; BORDER-TOP: 0px; PADDING-TOP: 10px
}
.helpBd span {
	PADDING-RIGHT: 10px; DISPLAY: block; FLOAT: left
}
.helpBd li {
	DISPLAY: block
}
.helplist {
	PADDING-LEFT: 10px; WIDTH: 178px; HEIGHT: 24px
}

.helpBd span.sdg {
	POSITION: relative
}
.helpBd span.sd-update {
	BORDER-BOTTOM: #f0e5af 1px solid; POSITION: absolute; BORDER-LEFT: #f0e5af 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #ffffe5; PADDING-LEFT: 8px; WIDTH: 100px; PADDING-RIGHT: 2px; HEIGHT: 25px; COLOR: #f00; BORDER-TOP: #f0e5af 1px solid; TOP: -5px; BORDER-RIGHT: #f0e5af 1px solid; PADDING-TOP: 0px; LEFT: 50px
}
.helpBd span.sd-update B {
	POSITION: absolute; WIDTH: 8px; BACKGROUND: url(../images/icon-jiao-left.jpg) no-repeat; HEIGHT: 13px; TOP: 7px; LEFT: -8px
}
.sidebar .icon_hidden {
	margin:5px 10px 0px 0px;_margin-top:-20px; WIDTH: 14px; BACKGROUND: url(../images/help_leftsz.gif) no-repeat right -14px; FLOAT: right; HEIGHT: 14px; OVERFLOW: hidden; CURSOR: pointer
}
.sidebar .icon_show {
	margin:5px 10px 0px 0px;_margin-top:-20px; WIDTH: 14px; BACKGROUND: url(../images/help_leftsz.gif) no-repeat right 0px; FLOAT: right; HEIGHT: 14px; OVERFLOW: hidden; CURSOR: pointer
}

.userCenter .P10 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.userCenter .Tip {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; MARGIN: 10px 20px 20px; PADDING-LEFT: 10px; WIDTH: 710px; PADDING-RIGHT: 5px; BACKGROUND: #fff8e9; HEIGHT: 70px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 5px
}
.userCenter .Table .PopTip {
	WIDTH: 100%
}
.userCenter .Table .PopFg {
	BACKGROUND: url(../images/chatLine.jpg) repeat-x center top
}
.promptThr {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #ccc 1px solid; BACKGROUND-COLOR: #fff8e9; MARGIN-BOTTOM: 10px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.ts {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; LINE-HEIGHT: 23px; BACKGROUND-COLOR: #fff8e9; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}

.portrait {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; FLOAT: left; HEIGHT: 75px; PADDING-TOP: 0px
}
.portrait ul li {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
.portrait .bottomBox {
	TEXT-ALIGN: center; DISPLAY: block
}

.cBlue {
	COLOR: #004098
}
.cBlue:visited {
	COLOR: #004098
}
.cBlue A {
	COLOR: #004098
}
.cBlue A:visited {
	COLOR: #004098
}
.cBlue A:hover {
	COLOR: #ea5504
}
A.cBlue:hover {
	COLOR: #ea5504
}

.cYellow {
	COLOR: #ea5504
}
.cYellow:visited {
	COLOR: #ea5504
}
.cYellow A:hover {
	COLOR: #ea5504
}
A.cYellow:hover {
	COLOR: #ea5504
}

.portraitRig {
	WIDTH: 600px; FLOAT: left
}
.portraitRig UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; WIDTH: 590px; PADDING-RIGHT: 0px; DISPLAY: block; FLOAT: left; PADDING-TOP: 2px
}
.portraitRig UL LI {
	DISPLAY: block; FLOAT: left
}

.H10 {
	HEIGHT: 10px; CLEAR: both; OVERFLOW: hidden
}

.bdTop {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 29px; PADDING-LEFT: 10px; BACKGROUND: url(../images/bdBg.jpg) repeat-x 50% bottom; HEIGHT: 29px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.bdTop span {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 18px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; DISPLAY: block; FLOAT: left; HEIGHT: 18px; COLOR: #ea5504; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
.bdTop .Bt {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 18px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 18px; COLOR: #404040; FONT-SIZE: 12px; PADDING-TOP: 6px
}
.bdTop .Button {
	PADDING-RIGHT: 4px; FLOAT: right; PADDING-TOP: 4px
}


.userBox {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: medium none; BORDER-RIGHT: #ccc 1px solid
}
.userBox UL {
	TEXT-ALIGN: center; MARGIN: 4px 0px; PADDING-LEFT: 8px; WIDTH: 760px; DISPLAY: block; BACKGROUND: url(../images/excelliBg.jpg) repeat-x 50% bottom; HEIGHT: 24px
}
.userBox UL LI {
	LINE-HEIGHT: 20px; DISPLAY: block; FLOAT: left; HEIGHT: 20px; OVERFLOW: hidden
}
.userBox .ProOne {
	POSITION: relative; LINE-HEIGHT: 0; DISPLAY: inline; FLOAT: left; FONT-SIZE: 0px
}
.userBox .ProTwo {
	POSITION: relative; LINE-HEIGHT: 0; DISPLAY: inline; FLOAT: left; FONT-SIZE: 0px
}
.userBox .po {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 16px; PADDING-RIGHT: 5px; HEIGHT: 16px; PADDING-TOP: 0px
}
.userBox .line {
	WIDTH: 103px; HEIGHT: 16px
}
.userBox .ProOne {
	WIDTH: 26px
}
.userBox .ProTwo {
	WIDTH: 130px
}
.userBox .tips {
	BORDER-BOTTOM: #f9db73 1px solid; POSITION: absolute; TEXT-ALIGN: center; BORDER-LEFT: #f9db73 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: #ffffe3; HEIGHT: 18px; COLOR: #ea5504; FONT-SIZE: 12px; BORDER-TOP: #f9db73 1px solid; FONT-WEIGHT: 600; BORDER-RIGHT: #f9db73 1px solid; PADDING-TOP: 0px
}
.userBox .tips B {
	POSITION: absolute; WIDTH: 10px; BOTTOM: -5px; BACKGROUND: url(../images/corner.png) no-repeat; HEIGHT: 5px; LEFT: 27px; _bottom: -12px
}
.userBox .proPo1 {
	WIDTH: 54px; TOP: -28px; LEFT: -21px
}
.userBox .proPo2 {
	WIDTH: 78px; TOP: -28px; LEFT: 70px
}
.userBox .proPo2 B {
	LEFT: 39px
}
.userBox .proLine {
	TOP: -28px; LEFT: 12px
}
.userBox .Table TH {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND: #fffaea; VERTICAL-ALIGN: middle; PADDING-TOP: 4px
}
.userBox .Table TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px
}
.userBox .Table TD.ImgXing IMG {
	MARGIN-TOP: 4px
}
.userBox TD.LeftTd {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: left; BORDER-LEFT: medium none; PADDING-LEFT: 2px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.userBox TD.RightTd {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: right; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.userBox .But {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; PADDING-LEFT: 40px; PADDING-RIGHT: 20px; PADDING-TOP: 10px
}

.userBox .imgList {
	MARGIN: 4px 0px 0px 4px; ZOOM: 1; OVERFLOW: hidden; _margin-bottom: 4px
}
.userBox .imgList A {
	BORDER-BOTTOM: #e5e5e5 1px solid; BORDER-LEFT: #e5e5e5 1px solid; MARGIN: 0px 4px 4px 0px; FLOAT: left; BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid
}
.userBox .imgList A:hover {
	BORDER-BOTTOM-COLOR: #edd28b; BORDER-TOP-COLOR: #edd28b; BORDER-RIGHT-COLOR: #edd28b; BORDER-LEFT-COLOR: #edd28b
}
.userBox .imgList IMG {
	WIDTH: 48px; HEIGHT: 48px; OVERFLOW: hidden
}
.userBox .otime {
	LINE-HEIGHT: 18px; COLOR: #999
}
.userBox .going {
	BACKGROUND: #ffffd8
}
.userBox .going STRONG {
	COLOR: #ea5504
}
.userBox .going .tooltip {
	Z-INDEX: 1; POSITION: relative; DISPLAY: block
}
.userBox .going .tooltip S {
	BORDER-BOTTOM: transparent 4px dashed; BORDER-LEFT: transparent 4px dashed; LINE-HEIGHT: 0; DISPLAY: inline-block; HEIGHT: 0px; MARGIN-LEFT: 2px; FONT-SIZE: 0px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-TOP: #005a9d 4px solid; BORDER-RIGHT: transparent 4px dashed
}
.userBox .going .tooltip:hover {
	COLOR: #376aa8; TEXT-DECORATION: none
}
.userBox .going .popOState {
	Z-INDEX: 5; BORDER-BOTTOM: #dbac1e 1px solid; POSITION: absolute; BORDER-LEFT: #dbac1e 1px solid; PADDING-BOTTOM: 9px; PADDING-LEFT: 9px; WIDTH: 342px; PADDING-RIGHT: 9px; ZOOM: 1; BACKGROUND: #fffff3; BORDER-TOP: #dbac1e 1px solid; TOP: -20px; BORDER-RIGHT: #dbac1e 1px solid; PADDING-TOP: 9px; LEFT: -340px; _left: -375px; _top: -25px; -webkit-box-shadow: 2px 2px 0 0 rgb(238, 238, 220); -moz-box-shadow: 2px 2px 0 0 rgb(238, 238, 220); box-shadow: 2px 2px 0 0 rgb(238, 238, 220)
}
.userBox .popOState .processOS {
	BORDER-BOTTOM: #eee 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 320px; PADDING-RIGHT: 10px; BACKGROUND: #fff; COLOR: #404040; BORDER-TOP: #eee 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 10px
}
.userBox .popOState DL {
	BORDER-BOTTOM: #ddd 1px solid; MARGIN-BOTTOM: 5px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.userBox .popOState DT {
	WIDTH: 130px; FLOAT: left
}
.userBox .popOState .dltime {
	WIDTH: 130px; FLOAT: left
}
.userBox .popOState UL {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: auto; PADDING-TOP: 0px
}
.userBox .popOState UL LI {
	LINE-HEIGHT: 22px; FLOAT: none; HEIGHT: auto
}
.userBox .popOState .dlcon {
	WIDTH: 190px; FLOAT: left
}
.userBox .popOState .right-angle {
	POSITION: absolute; WIDTH: 8px; BACKGROUND: url(../images/right-angle.png) no-repeat; HEIGHT: 16px; OVERFLOW: hidden; TOP: 22px; RIGHT: -8px
}
.userBox .orderSplit {
	MARGIN-TOP: -1px; BORDER-SPACING: 0; BORDER-COLLAPSE: collapse; BACKGROUND: #f5fcfe
}
.userBox .orderSplit TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: #d7eaef 1px solid; BORDER-RIGHT: #d7eaef 1px solid
}
.userBox .orderSplit TD.caption {
	BORDER-TOP: #ccc 1px solid
}
.userBox .orderSplit TD.last {
	BORDER-RIGHT: 0px
}
.userBox .orderSplit .mainON {
	PADDING-LEFT: 8px; FONT-WEIGHT: 700
}
.userBox .orderSplit .subOrder {
	TEXT-ALIGN: left
}
.userBox .orderSplit .subOrder SPAN {
	PADDING-LEFT: 8px; DISPLAY: block
}
.userBox A {
	COLOR: #376aa8; TEXT-DECORATION: none
}
.userBox A:visited {
	COLOR: #376aa8; TEXT-DECORATION: none
}
.userBox A:hover {
	COLOR: #ea5504; TEXT-DECORATION: underline
}
.userBox A:active {
	COLOR: #ea5504
}
.userBox .Box {
	TEXT-ALIGN: left; PADDING-BOTTOM: 20px; LINE-HEIGHT: 35px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 440px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 20px
}
.userBox .cg {
	WIDTH: 248px
}
.userBox .Con {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 30px; MARGIN: 20px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px dotted; BORDER-RIGHT: medium none; PADDING-TOP: 20px
}
.userBox .Con1 {
	BORDER-BOTTOM: medium none; PADDING-BOTTOM: 20px; MARGIN: 0px 0px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 20px
}
.userBox .Con1 H1 {
	TEXT-ALIGN: left; LINE-HEIGHT: 32px; PADDING-LEFT: 50px; BACKGROUND: url(../images/Boderh1Bg.gif) no-repeat left 50%; FONT-SIZE: 14px
}
.userBox .Con1 H1.Failure {
	BACKGROUND: url(../images/boderh2Bg.gif) no-repeat left 50%
}
.userBox .Con2 {
	LINE-HEIGHT: 30px
}
.userBox .Con2 H1 {
	TEXT-ALIGN: left; LINE-HEIGHT: 60px; PADDING-LEFT: 50px; BACKGROUND: url(../images/Boderh1Bg.gif) no-repeat left 50%; FONT-SIZE: 14px
}
.userBox .Con2 H1.Failure {
	BACKGROUND: url(../images/boderh2Bg.gif) no-repeat left 50%
}


.TableSingle {
	TEXT-ALIGN: center; LINE-HEIGHT: 18px; BORDER-SPACING: 0; WIDTH: 100%; BORDER-COLLAPSE: collapse
}
.TableSingle TH {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; BACKGROUND: url(../images/chatLine.jpg) #fffaea repeat-x 50% bottom; HEIGHT: 25px; VERTICAL-ALIGN: middle; BORDER-RIGHT: #e8dbcb 1px solid
}
.TableSingle TD {
	VERTICAL-ALIGN: middle; BORDER-RIGHT: #e8dbcb 1px solid
}
.TableSingle TH.last {
	BORDER-RIGHT: 0px
}
.TableSingle TD.last {
	BORDER-RIGHT: 0px
}
.TableSingle .IdeaCon {
	TEXT-ALIGN: left; LINE-HEIGHT: 24px; DISPLAY: block; MAX-HEIGHT: 70px; OVERFLOW: hidden
}
.TableSingle .IdeaTwo {
	WIDTH: 322px
}
.TableSingle TD.Pic IMG {
	BORDER-BOTTOM: #e5e5e5 1px solid; BORDER-LEFT: #e5e5e5 1px solid; WIDTH: 48px; HEIGHT: 48px; BORDER-TOP: #e5e5e5 1px solid; MARGIN-RIGHT: 4px; BORDER-RIGHT: #e5e5e5 1px solid
}

.Inputbut {
	BORDER-BOTTOM: #bdd9ff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #bdd9ff 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND: url(../images/inputbutBg.gif); HEIGHT: 21px; COLOR: #004098; FONT-SIZE: 12px; BORDER-TOP: #bdd9ff 1px solid; BORDER-RIGHT: #bdd9ff 1px solid; PADDING-TOP: 0px
}
.pointer {
	CURSOR: pointer;
}
.Button {
	PADDING-RIGHT: 4px; FLOAT: right; PADDING-TOP: 4px
}