<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

	<description>微铺服务接口引用</description>

	<!-- 汽配城信息服务 -->
	<dubbo:reference id="weipuAutopartsService"
		interface="net.deepdragon.service.weipu.AutopartsService" version="${weipu.reference.version}"
		group="${weipu.reference.group}" timeout="${weipu.reference.timeout}"
		retries="${weipu.reference.retries}" />

	<!-- 维修厂信息服务 -->
	<dubbo:reference id="weipuRepairplantService"
		interface="net.deepdragon.service.weipu.RepairplantService" version="${weipu.reference.version}"
		group="${weipu.reference.group}" timeout="${weipu.reference.timeout}"
		retries="${weipu.reference.retries}" />

	<!-- 车型表服务 -->
	<dubbo:reference id="weipuCartypeService"
		interface="net.deepdragon.service.weipu.CartypeService" version="${weipu.reference.version}"
		group="${weipu.reference.group}" timeout="${weipu.reference.timeout}"
		retries="${weipu.reference.retries}" />

	<!-- 首页品牌旗舰店服务 -->
	<dubbo:reference id="weipuIndexShopService"
		interface="net.deepdragon.service.weipu.IndexShopService" version="${weipu.reference.version}"
		group="${weipu.reference.group}" timeout="${weipu.reference.timeout}"
		retries="${weipu.reference.retries}" />
	
	<!-- 汽车品牌表服务 -->
	<dubbo:reference id="weipuCarBrandService" interface="net.deepdragon.service.weipu.CarBrandService"
		version="${weipu.reference.version}"
		group="${weipu.reference.group}" timeout="${weipu.reference.timeout}"
		retries="${weipu.reference.retries}" />
	
	<!-- 汽车系列表服务 -->
	<dubbo:reference id="weipuCarSeriesService" interface="net.deepdragon.service.weipu.CarSeriesService"
		version="${weipu.reference.version}"
		group="${weipu.reference.group}" timeout="${weipu.reference.timeout}"
		retries="${weipu.reference.retries}" />
	
	<!-- 今日爆款服务 -->
	<dubbo:reference id="weipuTodayCommendService" interface="net.deepdragon.service.weipu.TodayCommendService"
		version="${weipu.reference.version}"
		group="${weipu.reference.group}" timeout="${weipu.reference.timeout}"
		retries="${weipu.reference.retries}" />
	
	<!-- 商品(配件)车型关联关系服务 -->
	<dubbo:reference id="weipuGoodsCartypeService" interface="net.deepdragon.service.weipu.GoodsCartypeService"
		version="${weipu.reference.version}"
		group="${weipu.reference.group}" timeout="${weipu.reference.timeout}"
		retries="${weipu.reference.retries}" />
	
</beans>