/* CSS Document */
.offer-content{
	padding-top:20px;
}
.offer-content .line {
	zoom: 1;
	margin-bottom: 10px;
}
.offer-content .line:after {
	display: block;
	clear: both;
	height: 0;
	content: '\0020'
}
.offer-content .line .line-title {
	float: left;
	width: 100px;
	margin: 0 10px 0 0;
	text-align: right;
	/*font-size:16px;*/
}
.offer-content .line .line-title-l {
	line-height: 35px
}
.offer-content .line .line-content {
	float: left;
}
.offer-content .line .single {
	margin-left: 40px
}
.region-wrapper {
	border: 1px solid #9ABB59;
	display: none;
	width: 780px;
	position: absolute;
	z-index: 1000;
	background-color: #fff;
	left: 200px;
	top: 200px
}
.region-select {
	background: #FFF;
	border: 1px solid #ddd;
	float: left;
	line-height: 16px;
	min-height: 21px;
	_height: 21px;
	width: 244px;
	padding: 6px 25px 6px 10px
}
.region-trigger {
	background: url(http://img.china.alibaba.com/cms/upload/2014/211/109/1901112_1213880884.png) no-repeat 0 -590px;
	display: block;
	float: left;
	height: 21px;
	width: 17px;
	_zoom: 1;
	margin-left: -25px;
	_background-image: url(http://img.china.alibaba.com/cms/upload/2014/378/888/1888873_1213880884.png)
}
.region-wrapper .orange {
	color: #ff7300
}
.region-wrapper .num {
	font-size: 10px;
	-webkit-text-size-adjust: none
}
.region-wrapper .r-h {
	background-color: #f0f0f0;
	height: 28px;
	line-height: 28px;
	padding: 0 16px;
	text-align: right
}
.region-wrapper .r-h .t {
	font-weight: 700;
	float: left
}
.region-wrapper .r-h .close {
	font-size: 16px
}
.region-wrapper .r-b {
	padding: 0 10px;
	position: relative;
	zoom: 1
}
.region-wrapper .r-b .cont p {
	color: #999;
	margin: 8px 0
}
.region-wrapper .r-b li {
	border-bottom: 1px dashed #d9d9d9;
	height: 36px;
	line-height: 36px
}
.region-wrapper .r-b dl dt, .region-wrapper .r-b dl dd {
	float: left;
	width: 75px;
	position: relative
}
.region-wrapper .r-b dl dd {
	width: 106px;
	height: 36px;
	padding: 0 0 0 5px;
	border: 1px solid #fff;
	border-width: 1px 1px 0
}
.region-wrapper .r-b dl .light {
	background-color: #f6f6f6;
	border: 1px solid #a4a4a4;
	border-width: 1px 1px 0;
	z-index: 10
}
.region-wrapper .r-b dl dd.select {
	background-color: #fffec6
}
.region-wrapper .r-b dl dt {
	font-weight: 700
}
.region-wrapper .r-b dl input {
	vertical-align: -3px;
	margin-right: 5px;
+margin-right:0;
	*vertical-align:middle;
	_vertical-align: -3px
}
.region-wrapper .r-b .o {
	text-align: right;
	height: 20px;
	line-height: 20px;
	padding: 5px 0
}
.region-wrapper .r-b dl .unfold, .region-wrapper .r-b dl .fold {
	background: url(http://img.china.alibaba.com/cms/upload/2013/014/396/693410_1213880884.png) no-repeat 0 7px transparent
}
.region-wrapper .r-b dl .unfold {
	display: inline-block;
	width: 7px;
	height: 13px;
	margin-left: 4px;
	text-decoration: none;
	vertical-align: 0;
	*vertical-align:6px
}
.region-wrapper .r-b dl .fold {
	background-position: 0 -10px
}
.region-wrapper .r-b .city {
	position: absolute;
	top: 26px;
	left: -1px;
	width: 195px;
	background-color: #f6f6f6;
	z-index: 10;
	display: none;
	border: 1px solid #a4a4a4
}
.region-wrapper .r-b .city ul {
	padding: 0 0 0 5px;
	overflow: hidden;
	zoom: 1
}
.region-wrapper .r-b .city li {
	display: inline;
	margin: 0 10px 0 0;
	border-width: 0;
	float: left
}
.region-wrapper .r-b .city .o {
	padding: 5px 10px
}
.region-wrapper .r-b .city .line {
	display: block;
	width: 101px;
	background-color: #f6f6f6;
	height: 2px;
	margin-top: -1px
}
.region-wrapper .r-b #tip {
	display: none;
	width: 218px;
	position: absolute;
	top: 20px;
	left: 200px;
	background-color: #fffbdd;
	border: 1px solid #ecd3a7;
	line-height: 24px;
	z-index: 11;
	padding: 0 5px
}
.region-wrapper .btn-a2 {
	float: none;
	display: inline-block;
	margin-left: 15px
}
.go-ico-del {
	display: inline-block;
	background: url(http://cbu01.alicdn.com/cms/upload/2014/322/998/1899223_2010629632.png?321) 0 -212px;
	width: 15px;
	height: 15px;
}
/*分类选择*/
.category_select_container {
	display: none;
	/*width: 538px;*/
	background-color: #fff;
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 35px; margin-top: -5px; margin-left: 1px;
/*	padding: 10px 10px 10px 11px;
	padding-bottom: 0;
	border: 1px #dfdfdf solid;*/
}
.category_select_container ::-webkit-scrollbar {
	width:12px;
	height:8px
}
.category_select_container ::-webkit-scrollbar-track {
	background:#fff;
	border-left:1px solid #ddd
}
.category_select_container ::-webkit-scrollbar-thumb {
	background:rgba(0,0,0,.15)
}
.category_select_container .act-cell {
	overflow: hidden;
	zoom: 1;
	clear: both;
	padding: 5px 0
}
.category_select_container .act-lnk {
	color: #0362a5;
	cursor: pointer
}
.category_select_container .act-cell .switch {
	float: left;
	margin-right: 10px
}
.category_select_container .act-cell .cancel {
	float: left
}
.category_select_container .act-cell .close {
	float: right;
	margin-top: 4px
}
.category_select_container .category_list {
	display: block;
	height: 220px;
	width: 178px;
	float: left;
	border: 1px #ddd solid;
	margin-left: -1px;
	background: #fff;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 5px 0px 11px 3px;
}
.category_select_container .category_list a {
	padding-left: 10px;
	padding-right: 15px;
	height: 25px;
	line-height: 25px;
	width: 141px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	color: #454545;
	text-decoration: none
}
.category_select_container .category_list a:hover {
	background-color: #9ABB59;
	color: #fff;
	text-decoration: none
}
.category_select_container .item_p {
	background-image: url(http://img.china.alibaba.com/cms/upload/2012/407/044/440704_32411550.png);
	background-position: 152px center;
	background-repeat: no-repeat
}
.category_select_container .category_list .current {
	color: #fff!important;
	background-color: #9ABB59
}
.category_select_container .search_category {
	margin-bottom: 5px;
	position: normal
}
.category_select_container .category_search_container {
	background: #fff;
	display: none;
	height: 220px;
	border: 1px #CCC solid;
	overflow-x: hidden;
	overflow-y: scroll
}
.category_search_container a {
	padding-left: 10px;
	height: 22px;
	color: #454545!important;
	cursor: pointer;
	display: block;
	text-decoration: none
}
.category_search_container a:hover {
	background-color: #9ABB59;
	color: #fff!important;
	text-decoration: none
}
.category_select_background, .keyword_suggest_background {
	position: absolute;
	top: 0;
	left: 0;
	background: url(#);
	width: 100%;
	height: 100%;
	display: none
}
.category_select_background {
	z-index: 500
}
.keyword_suggest_background {
	z-index: 1100
}